<!DOCTYPE html> 
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'weather/style.css' %}">

<head>
    <Title>Weather Search</Title>
    <link rel="shortcut icon" type="image/png" href="https://png.pngtree.com/png-vector/20190629/ourmid/pngtree-sun-icon-design-png-image_1518941.jpg" />
</head>

<body>
    <div class="box">
        <h1>Check the Weather</h1>
    </div>
<form action="{% url 'weather:search' %}" method="post">{% csrf_token %}
    <div class="box">
        <input type="text" name="city" id="city" placeholder="Search a city">
    </div>
    <div class="box">
        <input type="submit" value="Search">
    </div>
</form>

{% if request.path == '/weather/search/' %}
    <p>
        <div class="weather-side"> 
            <div class="container">
                <div class='city-container'>
                    <div class='all-container'>
                        <h2 class="city-name">{{ city }}</h2>
                        <div class="temp">{{ temperature }}°F</div>
                        <div class="weather-type">{{ weather }}</div>
                        <image class="weather-type-icon" src='{{ weather_icon }}'></image>
                    </h2>
                </div>      
            </div>
        </div>
    </p>
    </body>
{% else %}
    <div></div>
{% endif %}
